<ion-header>
    <ion-navbar color="blue" class="hanna">

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>좋아요한 레시피</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding="">

    <div *ngIf="results.length == 0; else elseBlock ">
        <ion-row>
            <ion-col>
               <h1> 찜내역이 없습니다.T_T</h1>
            </ion-col>
        </ion-row>
    </div>
    <ng-template #elseBlock>
        <div class="card001" *ngFor="let item of results; let i= index"
             style="background: rgba(0,0,0,0);padding: 0px!important;">
            <ion-row style="text-align: center; padding: 0px;">
                <ion-col col-3 style="padding: 0px;">

                    <div *ngIf="item.thumbnail != null; else elseBlock">
                        <ion-avatar><img class="" [src]="item.thumbnail"  (click)="clickedItem(item.url)" /></ion-avatar>
                    </div>
                    <ng-template #elseBlock>
                        <img src="http://via.placeholder.com/360x360"/>
                    </ng-template>

                </ion-col>
                <ion-col col-9 (click)="clickedItem(item.url)">
                    <div >

                        <div [innerHTML]="item.title"></div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <button color='dark' ion-button icon-left clear small (click)="clickedHeart(item, i)">
                        <ion-icon name="trash" [ngClass]="{'heart': selectedIndex[i]}"></ion-icon>
                        <div [ngClass]="{'heart': selectedIndex[i]}">Delete</div>
                    </button>
                </ion-col>
                <ion-col>
                    <button color="dark" ion-button icon-left clear small  (click)="goComment(item)">
                        <ion-icon name="text"></ion-icon>
                        <div> Comments</div>
                    </button>
                </ion-col>

            </ion-row>

        </div>
    </ng-template>


    <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
-->

</ion-content>
